<!-- start custom scripts to be placed at the bottom of the page -->






<footer class="footer-chulapa text-center mt-0 pt-3">
    <div class="container">
      <div class="row">
        <div class="col-xl-10 offset-xl-1">

          <!-- Additional page level attributions not available through the standard options -->
          {%- if page.photo_credit_name -%}
          <p class="small">Photo credit to <a href="{{ page.photo_credit_url }}">{{ page.photo_credit_name }}</a></p>
          {%- endif -%}
          <!-- End  attributions -->

        </div>
      </div>
  </div>
</footer>



<!-- end custom bottom scripts -->